In [1]:
import pandas as pd
import numpy as np
# mta_df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_210605.txt')
# mta_df.to_csv('mta_turnstile_210605.csv', header=False, index=False)

In [2]:
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt" #url with formatting to fill in the number of the particular week
    dfs = []
    for week_num in week_nums: #for each week
        file_url = url.format(week_num) #format the url so it grabs that week
        dfs.append(pd.read_csv(file_url, parse_dates=[['DATE','TIME']], keep_date_col=True))
    return pd.concat(dfs) #combine files for each week
weeks = [210605, 210612, 210619, 210626, 210703, 210710, 210717, 210724, 210731, 210807, 210814, 210821, 210828]
# turnstiles_df = get_data(weeks)
# turnstiles_df.to_csv('mta_data_all.csv', header = False, index = False)

In [3]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine("sqlite:///mta_all.db")
all_data = pd.read_sql('SELECT * FROM mta_data order by exits;', engine)

In [4]:
ts_df1 = all_data
ts_df1.head(20)

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,00:00:00,REGULAR,524442,0
1,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,04:00:00,REGULAR,524442,0
2,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,08:00:00,REGULAR,524442,0
3,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,12:00:00,REGULAR,524442,0
4,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,16:00:00,REGULAR,524444,0
5,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,20:00:00,REGULAR,524444,0
6,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/30/2021,00:00:00,REGULAR,524444,0
7,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/30/2021,04:00:00,REGULAR,524444,0
8,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/30/2021,08:00:00,REGULAR,524444,0
9,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/30/2021,12:00:00,REGULAR,524444,0
10,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/30/2021,16:00:00,REGULAR,524444,0
11,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/30/2021,20:00:00,REGULAR,524444,0
12,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/31/2021,00:00:00,RECOVR AUD,524444,0
13,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/31/2021,04:00:00,REGULAR,524444,0
14,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/31/2021,08:00:00,REGULAR,524444,0
15,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/31/2021,12:00:00,REGULAR,524444,0
16,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/31/2021,16:00:00,REGULAR,524444,0
17,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/31/2021,20:00:00,REGULAR,524444,0
18,A002,R051,02-05-00,59 ST,NQR456W,BMT,06/01/2021,00:00:00,REGULAR,524445,0
19,A002,R051,02-05-00,59 ST,NQR456W,BMT,06/01/2021,04:00:00,REGULAR,524445,0

In [5]:
import datetime as dt
ts_df1['Date_time'] = pd.to_datetime(ts_df1.DATE.astype(str) + ' ' + ts_df1.TIME.astype(str))
ts_df1.head(5)

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Date_time
0,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,00:00:00,REGULAR,524442,0,2021-05-29 00:00:00
1,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,04:00:00,REGULAR,524442,0,2021-05-29 04:00:00
2,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,08:00:00,REGULAR,524442,0,2021-05-29 08:00:00
3,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,12:00:00,REGULAR,524442,0,2021-05-29 12:00:00
4,A002,R051,02-05-00,59 ST,NQR456W,BMT,05/29/2021,16:00:00,REGULAR,524444,0,2021-05-29 16:00:00

In [6]:
ts_df1.groupby(['CA', 'UNIT', 'SCP', 'STATION', 'Date_time']).ENTRIES.count().reset_index().sort_values('ENTRIES', ascending=False).head(5)

           CA  UNIT       SCP          STATION           Date_time  ENTRIES
2448636  R514  R094  00-05-00     ASTORIA BLVD 2021-07-22 04:00:00        2
1172385  N335  R158  01-00-03      KEW GARDENS 2021-06-20 18:30:00        2
2457222  R516  R291  00-00-02  33 ST-RAWSON ST 2021-08-25 00:00:00        2
2457223  R516  R291  00-00-02  33 ST-RAWSON ST 2021-08-25 04:00:00        2
2457224  R516  R291  00-00-02  33 ST-RAWSON ST 2021-08-25 08:00:00        2

In [7]:
ts_df1.sort_values(['CA', 'UNIT', 'SCP', 'STATION', 'Date_time'], inplace=True, ascending=False)
ts_df1.drop_duplicates(subset=['CA', 'UNIT', 'SCP', 'STATION', 'Date_time'], inplace=True)

In [8]:
ts_df1.groupby(['CA', 'UNIT', 'SCP', 'STATION', 'Date_time']).EXITS.count().reset_index().sort_values('EXITS', ascending=False).head(5)

           CA  UNIT       SCP         STATION           Date_time  EXITS
0        A002  R051  02-00-00           59 ST 2021-05-29 00:00:00      1
1815048  R138  R293  00-03-02  34 ST-PENN STA 2021-07-22 18:00:00      1
1815050  R138  R293  00-03-02  34 ST-PENN STA 2021-07-23 02:00:00      1
1815051  R138  R293  00-03-02  34 ST-PENN STA 2021-07-23 06:00:00      1
1815052  R138  R293  00-03-02  34 ST-PENN STA 2021-07-23 10:00:00      1

In [37]:
ts_entries_daily = (ts_df1.groupby(['CA', 'UNIT', 'SCP', 'STATION', 'DATE'], as_index=False).ENTRIES.max())

In [38]:
ts_entries_daily

           CA  UNIT       SCP        STATION        DATE  ENTRIES
0        A002  R051  02-00-00          59 ST  05/29/2021  7579021
1        A002  R051  02-00-00          59 ST  05/30/2021  7579275
2        A002  R051  02-00-00          59 ST  05/31/2021  7579593
3        A002  R051  02-00-00          59 ST  06/01/2021  7580178
4        A002  R051  02-00-00          59 ST  06/02/2021  7580754
...       ...   ...       ...            ...         ...      ...
454566  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/23/2021     5554
454567  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/24/2021     5554
454568  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/25/2021     5554
454569  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/26/2021     5554
454570  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/27/2021     5554

[454571 rows x 6 columns]

In [39]:
ts_entries_daily[['PREV_DATE', 'PREV_ENTRIES']] = (ts_entries_daily.groupby(["CA", "UNIT", "SCP", "STATION"])[["DATE", "ENTRIES"]].shift(1))

In [40]:
ts_entries_daily.dropna(subset=['PREV_DATE'], axis=0, inplace=True)

In [41]:
ts_entries_daily

,CA,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
1,A002,R051,02-00-00,59 ST,05/30/2021,7579275,05/29/2021,7579021.0
2,A002,R051,02-00-00,59 ST,05/31/2021,7579593,05/30/2021,7579275.0
3,A002,R051,02-00-00,59 ST,06/01/2021,7580178,05/31/2021,7579593.0
4,A002,R051,02-00-00,59 ST,06/02/2021,7580754,06/01/2021,7580178.0
5,A002,R051,02-00-00,59 ST,06/03/2021,7581328,06/02/2021,7580754.0
...,...,...,...,...,...,...,...,...
454566,TRAM2,R469,00-05-01,RIT-ROOSEVELT,08/23/2021,5554,08/22/2021,5554.0
454567,TRAM2,R469,00-05-01,RIT-ROOSEVELT,08/24/2021,5554,08/23/2021,5554.0
454568,TRAM2,R469,00-05-01,RIT-ROOSEVELT,08/25/2021,5554,08/24/2021,5554.0
454569,TRAM2,R469,00-05-01,RIT-ROOSEVELT,08/26/2021,5554,08/25/2021,5554.0
454570,TRAM2,R469,00-05-01,RIT-ROOSEVELT,08/27/2021,5554,08/26/2021,5554.0

In [42]:
(ts_entries_daily["ENTRIES"] - ts_entries_daily["PREV_ENTRIES"]).describe()

count    4.495520e+05
mean    -6.139827e+03
std      2.926558e+06
min     -1.383110e+09
25%      8.200000e+01
50%      2.640000e+02
75%      5.220000e+02
max      6.684993e+08
dtype: float64

In [43]:
ts_entries_daily[ts_entries_daily['ENTRIES'] < ts_entries_daily['PREV_ENTRIES']].head(5)

,CA,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
3550,A011,R080,01-03-00,57 ST-7 AV,05/30/2021,885601566,05/29/2021,885601748.0
3551,A011,R080,01-03-00,57 ST-7 AV,05/31/2021,885601403,05/30/2021,885601566.0
3552,A011,R080,01-03-00,57 ST-7 AV,06/01/2021,885601292,05/31/2021,885601403.0
3553,A011,R080,01-03-00,57 ST-7 AV,06/02/2021,885601049,06/01/2021,885601292.0
3554,A011,R080,01-03-00,57 ST-7 AV,06/03/2021,885600810,06/02/2021,885601049.0

In [44]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    
    if counter < 0:
        counter = -counter  # adjust for "reverse" counter
        
    if counter > max_counter:
        # Maybe counter was reset, so it may make sense to take the minimum
        print(f'entries: {row["ENTRIES"]} <-- {row["PREV_ENTRIES"]}')
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
        
    if counter > max_counter:
        # If we still get a counter that is too big, set to zero
        return 0
    
    return counter

ts_entries_daily["DAILY_ENTRIES"] = ts_entries_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

entries: 353 <-- 8049630.0
entries: 167790157 <-- 702266.0
entries: 48 <-- 8724126.0
entries: 460 <-- 1605140.0
entries: 6588 <-- 4298891.0
entries: 0 <-- 117440512.0
entries: 328315 <-- 7577112.0
entries: 67109632 <-- 14.0
entries: 327682 <-- 67109640.0
entries: 15 <-- 67109632.0
entries: 12517611 <-- 82.0
entries: 66 <-- 1198448.0
entries: 916 <-- 5405537.0
entries: 687970551 <-- 19471253.0
entries: 200 <-- 705357551.0
entries: 1076 <-- 7489966.0
entries: 16777220 <-- 1037157.0
entries: 6 <-- 16034831.0
entries: 819 <-- 6214051.0
entries: 37 <-- 1950780.0
entries: 497 <-- 15689534.0
entries: 36880392 <-- 33030307.0
entries: 4 <-- 36880392.0
entries: 1418346 <-- 304222.0
entries: 304627 <-- 1418346.0
entries: 8 <-- 1255797.0
entries: 609 <-- 3102579.0
entries: 50362839 <-- 251769.0
entries: 878 <-- 1953573.0
entries: 169 <-- 4788322.0
entries: 393952 <-- 104111192.0
entries: 215 <-- 6250045.0
entries: 118 <-- 909043641.0
entries: 198150 <-- 1891026.0
entries: 197260 <-- 3277263.0
entries: 243 <-- 303654987.0
entries: 716 <-- 3145979.0
entries: 35 <-- 10737302.0
entries: 1535925 <-- 10991333.0
entries: 10992175 <-- 1535925.0
entries: 1441950 <-- 12919101.0
entries: 13943099 <-- 8899046.0
entries: 878 <-- 1653444.0
entries: 846 <-- 11851571.0
entries: 91 <-- 1925928.0
entries: 327690 <-- 50346231.0
entries: 130 <-- 6481464.0
entries: 446 <-- 1383110353.0

In [45]:
ts_entries_daily.DAILY_ENTRIES.describe()

count    449552.000000
mean        423.628512
std        4869.737458
min           0.000000
25%          88.000000
50%         270.000000
75%         529.000000
max      992974.000000
Name: DAILY_ENTRIES, dtype: float64

In [46]:
ts_exits_daily = ts_df1.groupby(['CA', 'UNIT', 'SCP', 'STATION', 'DATE'], as_index=False).EXITS.max()

In [19]:
ts_exits_daily

           CA  UNIT       SCP        STATION        DATE    EXITS
0        A002  R051  02-00-00          59 ST  05/29/2021  2590439
1        A002  R051  02-00-00          59 ST  05/30/2021  2590548
2        A002  R051  02-00-00          59 ST  05/31/2021  2590641
3        A002  R051  02-00-00          59 ST  06/01/2021  2590917
4        A002  R051  02-00-00          59 ST  06/02/2021  2591200
...       ...   ...       ...            ...         ...      ...
454566  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/23/2021      614
454567  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/24/2021      614
454568  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/25/2021      614
454569  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/26/2021      614
454570  TRAM2  R469  00-05-01  RIT-ROOSEVELT  08/27/2021      614

[454571 rows x 6 columns]

In [20]:
ts_exits_daily[['PREV_DATE', 'PREV_EXIT']] = (ts_exits_daily.groupby(['CA', 'UNIT', 'SCP', 'STATION'])[['DATE', 'EXITS']].shift(1))

In [21]:
ts_exits_daily.dropna(subset=['PREV_DATE'], axis=0, inplace=True)

In [22]:
ts_exits_daily

,CA,UNIT,SCP,STATION,DATE,EXITS,PREV_DATE,PREV_EXIT
3550,A011,R080,01-03-00,57 ST-7 AV,05/30/2021,489576902,05/29/2021,489577552.0
3551,A011,R080,01-03-00,57 ST-7 AV,05/31/2021,489576371,05/30/2021,489576902.0
3552,A011,R080,01-03-00,57 ST-7 AV,06/01/2021,489575869,05/31/2021,489576371.0
3553,A011,R080,01-03-00,57 ST-7 AV,06/02/2021,489575017,06/01/2021,489575869.0
3554,A011,R080,01-03-00,57 ST-7 AV,06/03/2021,489574126,06/02/2021,489575017.0

In [27]:
def get_daily_counts(row, max_counter):
    counter = row["EXITS"] - row["PREV_EXIT"]
    
    if counter < 0:
        counter = -counter  # adjust for "reverse" counter
        
    if counter > max_counter:
        # Maybe counter was reset, so it may make sense to take the minimum
        print(f'exits: {row["EXITS"]} <-- {row["PREV_EXIT"]}')
        
        counter = min(row["EXITS"], row["PREV_EXIT"])
        
    if counter > max_counter:
        # If we still get a counter that is too big, set to zero
        return 0
    
    return counter

ts_exits_daily["DAILY_EXITS"] = ts_exits_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

exits: 561 <-- 1653840.0
exits: 165 <-- 2357391.0
exits: 268473848 <-- 1083083.0
exits: 65 <-- 8512839.0
exits: 602 <-- 1025567.0
exits: 3487 <-- 1152627.0
exits: 800988285 <-- 4318079.0
exits: 4318302 <-- 800988285.0
exits: 211 <-- 2004698.0
exits: 14090596 <-- 149.0
exits: 228 <-- 1502424.0
exits: 510 <-- 1852012.0
exits: 1174467683 <-- 4611970.0
exits: 465 <-- 705468481.0
exits: 1057292926 <-- 347524.0
exits: 348031 <-- 1057292926.0
exits: 239 <-- 1671513.0
exits: 418 <-- 7304094.0
exits: 753 <-- 6525614.0
exits: 1624 <-- 2136659.0
exits: 1179 <-- 3095180.0
exits: 547 <-- 8944327.0
exits: 0 <-- 654311429.0
exits: 0 <-- 1240819.0
exits: 275 <-- 2974479.0
exits: 1544 <-- 3150987.0
exits: 952 <-- 1005893.0
exits: 604001837 <-- 2369108.0
exits: 132 <-- 2607848.0
exits: 431 <-- 68794400.0
exits: 1231 <-- 16055255.0
exits: 46 <-- 1875746154.0
exits: 2122 <-- 1958224.0
exits: 754 <-- 1885963.0
exits: 683 <-- 236191318.0
exits: 139 <-- 1758593.0
exits: 1649602 <-- 8494964.0
exits: 8495504 <-- 1649602.0
exits: 440 <-- 9252156.0
exits: 6714542 <-- 2117913.0
exits: 2517 <-- 2365412.0
exits: 1203 <-- 11825803.0
exits: 0 <-- 134263112.0
exits: 444 <-- 2490084.0
exits: 638 <-- 804264411.0

In [24]:
ts_exits_daily.DAILY_EXITS.describe()

count    449552.000000
mean        469.172863
std        4519.372500
min           0.000000
25%          83.000000
50%         262.000000
75%         585.000000
max      981271.000000
Name: DAILY_EXITS, dtype: float64